* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fafafa;
  margin: 0;
}

.navigation {
  width: 100%;
  box-shadow: 0px 0px 7px #a7a7a7;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 6% 1em 6%;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo p {
  font-size: x-large;
  font-weight: 700;
  margin: 0;
}

.rand-act {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
}

.error {
  margin: 1em 0em 0em 0em;
  min-width: 250px;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px #a7a7a7;
  flex: 3 1 0;
  height: fit-content;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-form {
  margin: 1em 0em 0em 0em;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px #a7a7a7;
  flex: 1 1 0;
  min-width: 200px;
  display: flex;
  justify-content: center;
}

.activity-view {
  margin: 1em 0em 0em 0em;
  min-width: 250px;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px #a7a7a7;
  height: fit-content;
  flex: 3 1 0;
  display: flex;
  flex-wrap: wrap;
}

.activity-details {
  padding: 1em;
  padding-left: 2em;
  flex: 1 1 0;
  border-right: 1 solid rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-details ul {
  margin: 0;
  padding: 0;
  list-style-type: circle;
}

.activity-details li {
  display: grid;
  grid-template-columns: 7em auto;
}

.activity-text {
  flex: 3 1 0;
  display: flex;
  min-width: 200px;
  justify-content: center;
  align-items: center;
}

.fav {
  margin: 1em auto 1em auto;
  padding: 20px;
  width: 90%;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px #a7a7a7;
}

.about {
  margin: 1em auto 1em auto;
  padding: 20px;
  width: 90%;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px #a7a7a7;
}