:root {
  --primary-color: #1890ff;
  --shadow-color: #cfe2ff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: larger;
}

/* Header */

.navigation {
  width: 100%;
  box-shadow: 0px 0px 7px var(--shadow-color);
  border-bottom: 2px solid var(--primary-color);
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 6% 0.7em 6%;
}

.navigation span {
  font-size: large;
}

.link:focus {
  outline: auto;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo a {
  font-size: 32pt;
  font-weight: 300;
  font-family: 'Brush Script MT';
  color: var(--primary-color);
  margin: 0;
}

/* Random activity */

.rand-act {
  margin: auto;
  margin-top: 1em;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
}

.activity-form {
  padding: 2em 3em 2em 3em;
  background-color: white;
  box-shadow: 0px 0px 7px var(--shadow-color);
  flex: 1 1 0;
  min-width: 250px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-form form {
  width: 100%;
  max-width: 270px;
}

.activity-form label {
  font-size: small;
}

.activity-form form>button {
  height: 2.5em;
  font-size: large;
}

.user-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.activity-input {
  width: 100%;
}

.user-input button {
  margin: 1em;
  scale: 1.5;
}

.slider {
  width: 100%;
}

.slider span {
  font-size: small;
}

.activity-error {
  min-width: 250px;
  background-color: white;
  box-shadow: 0px 0px 7px var(--shadow-color);
  padding: 1em;
  flex: 3 1 0;
  height: fit-content;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.activity-view {
  min-width: 250px;
  background-color: white;
  box-shadow: 0px 0px 7px var(--shadow-color);
  height: fit-content;
  flex: 3 1 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

#heart {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  transform: scale(1.5);
  transition: transform 150ms ease-out 50ms;
}

#heart:hover,
#information:hover {
  transform: scale(2);
  cursor: pointer;
}

#information {
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
  transform: scale(1.5);
  transition: transform 150ms ease-out 50ms;
}

.activity-details {
  padding: 1em;
  padding-left: 2em;
  flex: 1 1 0;
  border-right-width: 1px;
  border-right-style: solid;
  border-image:
    linear-gradient(to bottom,
      rgba(0, 0, 0, 0),
      rgb(226, 226, 226),
      rgba(0, 0, 0, 0)) 3 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-details ul {
  margin: 0;
  padding: 0;
}

.activity-details li {
  display: grid;
  gap: 1em;
  grid-template-columns: 7em 7em;
}

.activity-text {
  flex: 3 1 0;
  display: flex;
  padding: 1em;
  margin: 0;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .rand-act {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .activity-view {
    flex-direction: column;
  }

  .activity-details {
    border-right-width: 0px;
  }

  .activity-text {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 350px) {

  .rand-act {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.activity-text p,
.activity-text a {
  margin: 0;
}

/* Favourites */

.favourites {
  margin: auto;
  margin-top: 1em;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.no-fav {
  margin-top: 1em;
  margin-bottom: 1em;
  min-width: 250px;
  background-color: white;
  box-shadow: 0px 0px 7px var(--shadow-color);
  border-radius: 5px;
  padding: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Footer */

.footer {
  background-color: #252525;
  border-top: 2px solid var(--primary-color);
  margin-top: 1em;
  width: 100%;
  padding: 4em 5% 4em 5%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 3em;
}

.footer a:focus {
  outline: auto;
}

.footer-info {
  display: flex;
  flex-direction: column;
  flex: 4;
  min-width: 290px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  flex: 3;
}

@media (min-width:450px) {
  .contact-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    min-width: 320px;
    max-height: 120px;
  }
}

.contact-item {
  display: flex;
  gap: 1em;
  padding: 5px;
}

.contact-info p,
.contact-name p {
  margin-bottom: 0;
}

.icon img {
  width: 20px;
  height: 20px;
}

/* About */

.about {
  margin: auto;
  margin-top: 1em;
  width: 90%;
  background-color: white;
  box-shadow: 0px 0px 7px var(--shadow-color);
  border-radius: 5px;
  padding: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about a:focus {
  outline: auto;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.tech-item {
  padding: 1em;
}

.tech-item img {
  width: 80px;
  height: 80px;
  transition: transform 150ms ease-out 50ms;
}

.tech-item p {
  margin-top: 5px;
  text-align: center;
  font-weight: 700;
  transition: transform 150ms ease-out 50ms;
}

.tech-item img:hover {
  transform: scale(1.2);
}

.tech-item img:hover+p {
  transform: translate3d(0, 10px, 0);
}